
.title {
	font-size: 20px;
	font-weight: bold;
	color: #e5e5e5;
	font-style: normal;
	overflow-y: hidden;
	position: absolute;
	top: 28px;
	/* padding: 0px; */
}
.container{
	display: flex;
	padding: 0 60px;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	height: 300px;
	align-items: center;
	/* transform: translate(75px);
	transition: transform 0.2s ease; */
}
.container::-webkit-scrollbar {
	display: none; }

/* .container:hover{
	transform: translate(-75px);
	transition: all 0.2s ease;
} */
/* .container:first-child div {
	padding: 0 75px 0 0;
} */