
.tile {
	position: relative;
	background: black;
	width: 15%;
	/* height: 100px; */
	margin: 0 2px 0 0;
	flex: 0 0 auto;
}
.tile:hover {
	-webkit-transform: scale(2);
	-ms-transform: scale(2);
	/* width: 200px; */
	/* height: 150px; */
	z-index: 100;
	margin: 0 150px;
	transition: margin 0.2s;
}
/* .tile::before{
	content: "";
	padding-top: 160%;
} */
.image {
	width: 100%;
	height: 100%;
	z-index: -1;
}

.info {
	position: absolute;
	color: white;
	bottom: 0px;
}